.jx-tabs{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: white;
  li{
    float: left;
    width: 33.3%;
    height: 100%;
    text-align: center;
    &:last-child{
      border-right: 0;
    }
    &:active,&.active{
      a{
        color: white;
      }
      background: #20A0FF;
    }

    .jx-tab-name{
      display: block;
    }
  }
}
