
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_t70i3prfiuow29.eot?t=1483951217485'); /* IE9*/
  src: url('//at.alicdn.com/t/font_t70i3prfiuow29.eot?t=1483951217485#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_t70i3prfiuow29.woff?t=1483951217485') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_t70i3prfiuow29.ttf?t=1483951217485') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_t70i3prfiuow29.svg?t=1483951217485#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e608"; }

.icon-set:before { content: "\e607"; }

.icon-chazhao:before { content: "\e609"; }

.icon-svgmoban67:before { content: "\e600"; }

.icon-wo:before { content: "\e602"; }

.icon-comment:before { content: "\e659"; }

.icon-post:before { content: "\e69d"; }

.icon-like:before { content: "\e652"; }

.icon-like-full:before { content: "\e62b"; }

.icon-comment-full:before { content: "\e63e"; }

.icon-spinner:before { content: "\e653"; }
