
.jx-card{
	width:50%;
	margin:10px auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	.jx-card-avator{
		display:block;
		height:200px;
	}

	.jx-card-title{
		padding: 12px 0;
		text-align:center;
	}
}
