
.jx-cardWrapper{
	height: 45px;
	padding: 10px 12px;
	border-top: 1px solid @color-border;
	&:nth-child(1){
		border-top: none;
	}
	&:active{
		background-color: @color-background-active;
	}
	.avatar{
		width: 40px;
    height: 40px;
    margin-right: 12px;
	}

	.cardName{
		display: inline-block;
	}

	.title{
		display: block;
	}
	.other{
		color:@color-font-primary;
	}
}
