.jx-post-wrap{
	position: relative;
	height: 60px;
	padding: 8px 12px;
	border-top: 1px solid #ccc;
	&:first-child{
		border-top: none;
	}
	&:active{
		background-color: #E2E0E0;
	}
	.post-avatar{
		width: 45px;
    height: 45px;
    margin-right: 12px;
	}

	.post-content{
		display: inline-block;
	}

	.post-title{
		display: block;
		margin-bottom: 9px;
	}
	.post-reply{
		color : #9e78c0;
	}

	.post-views{
		color : #99A9BF;
	}

	.post-time{
		position: absolute;
		bottom: 1px;
		right: 10px;
	}
}
