.jx-me{
  padding: 10px 0;
  text-align: center;;
  .jx-me__avator{
    margin: 20px 0;
    img{
      width: 86px;
      height: 86px;
      border-radius: 50%;
    }
  }

  .jx-me__name{
    font-size: 20px;
  }

  .jx-me__autograph{
    margin-top: 15px;
    color: #99A9BF;
  }

  .jx-me__action{
    margin-top: 15px;
  }
}


.jx-tab-nav{
  margin: 0 8px;
  background: white;
  text-align: center;
}

.jx-tab-nav-item{
    width: 33.3%;
    float: left;
    padding: 10px 20px;
    height: 45px;
    border-bottom: 3px solid transparent;
    &.jx-tab-nav-item_active{
      color: #20a0ff;
      border-bottom: 3px solid #20a0ff;
      transition: border-color .3s,background-color .3s,color .3s;
    }
}


.jx-tab-nav-content{
  padding: 20px 10px;
  margin: 0 8px;
  background: white;
}
