/**
 *
 * $authors JiexiongHu(胡杰雄)
 * $description 页面整体布局，主要包括头部、底部等；及全局基础样式
 * $important  注释风格按以下风格
 */

/*--模块1--*/

/*子模块1*/

/*--模块2--*/

/*子模块1*/

/*--全局基础样式--*/
body,html{
	height:100%;
}
body {
	font: 14px/1.5 $font-family-base;
	color: $color-text;
	background: $color-background;
}
select, input, label, button, textarea {
	font-family: $font-family-base;
	color: $color-black;
}
a, a:visited {
	text-decoration: none;
	color: $color-link;
}
a:active {
	color: $color-link-em;
}
.active:active {
	opacity: 0.8;
}
.break-word {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@mixin clear-both{
	clear: both;
}
.cf:after {
	display: block;
	height:0;
	overflow: hidden;
	clear:both;
	content: '';
	*zoom: 1;

	&:after{
		@include  clear-both;
	}
}

.text-center{
	text-align:center;
}

.fl {
	float: left;
}
.fr {
	float: right;
}

img{
	max-width: 100%;
}

.flex {
	display:flex;
	display:box;
	dispaly:flex-box;
	&.vertical-middle{
		align-items: center;
	}

	*.horizontal-center{
		justify-content: center;
	}
}


/*--头部--*/
.header {
	position:absolute;
	width:100%;
	height:48px;
	background-color : #20A0FF;
	color:$color-base;
}


/*--主体--*/
.content {
	position:absolute;
	width: 100%;
	top:0;
	right: 0;
    left: 0;
    bottom:0;
    overflow:auto;
}

/*--底部--*/
.footer {

}

.layout-ab{
	position:absolute;
	width:100%;
	height:100%;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}

.of-hidden{
	overflow:hidden;
}

.of-auto{
	overflow:auto;
}

.mt48{
	margin-top:48px;
}

.ml15{
	margin-left:15px;
}


.flex-ver-center{
	box-orient: vertical;
	box-align: center;
	align-items: center;
}

.flex-hor-center{
	box-orient: horizontal;
	box-align: center;
	justify-content: center;
}

.show{
	display:inline-block;
}

.hide{
	display:none;
}

.jx-bottom-50{
	bottom: 50px;
}
