/**
 *
 * @authors JiexiongHu
 * @description 公用布局(面包屑等)
 * @important  样式统一前缀  gmd-
 * 注释风格按以下风格
 */

/*--布局模块1--*/

/*子模块1*/

/*--布局模块2--*/

/*子模块1*/

/**
 *	Css3动画
 *
 */



.md-cardWrapper{
	height: 45px;
	padding: 10px 12px;
	border-top: 1px solid @color-border;
	&:nth-child(1){
		border-top: none;
	}
	&:active{
		background-color: @color-background-active;
	}
	.avatar{
		width: 40px;
    height: 40px;
    margin-right: 12px;
	}

	.cardName{
		display: inline-block;
	}

	.title{
		display: block;

	}
	.other{
		color:@color-font-primary;
	}
}


.card-content{
	  padding: 10px 8px;
}
.card-topic{
		margin-bottom: 10px;
		padding: 6px 0;

		border-bottom: 1px solid @color-gray;
		.card-topic-title{
				display: inline-block;
				margin: 5px 0;
				font-size: 20px;
		}
}

.card-detail{

}
